In [9]:
#import lzma
#import libarchive.public
import  tarfile
import sys
import os
import pandas as pd

In [22]:
def check_files_in_txz(fp):
    tar = tarfile.open(fp)
    members = tar.getmembers()
    tar.close()
    return [ str(mem) for mem in members ]

def read_df_from_txz(fp, target_file):
    content = None
    tar = tarfile.open(fp)
    members = tar.getmembers()
    for mem in members:
        if target_file in str(mem):
            f = tar.extractfile(mem)
            #content=f.read()
            content = pd.read_csv(f)
            f.close()
    tar.members = []
    tar.close()
    return content

In [23]:
fp = "compress/_run_output-couple_prob-couple_prob_0.0-nonburn_0.005_s152745_y2000.tar.xz"

In [24]:
check_files_in_txz(fp)

["<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000' at 0x7fe46009f8e0>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/thumbnails' at 0x7fe464aed818>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/stored_population.csv' at 0x7fe464aed4f8>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/stored_household.csv' at 0x7fe464aed430>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/household_size_dynamic.csv' at 0x7fe464aed1d8>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/household_structure_dynamic.csv' at 0x7fe464aed5c0>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/yearly_summary.csv' at 0x7fe464aed688>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/stored_sex_age_stats.csv' at 0x7fe464aedd90>"]

In [25]:
df = read_df_from_txz(fp, 'household_size_dynamic.csv')
df.head()

   ind  time  size_up  size_down  new_household  sub_total
0    0     1       81        173             43        297
1    1     2       76        182             61        319
2    2     3       82        188             62        332
3    3     4       75        197             63        335
4    4     5       69        177             52        298

# use this

In [26]:
import read_txz as txz

In [28]:
fp = "compress/_run_output-couple_prob-couple_prob_0.0-nonburn_0.005_s152745_y2000.tar.xz"

In [29]:
txz.check_files_in_txz(fp)

["<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000' at 0x7fe46009f688>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/thumbnails' at 0x7fe46009f750>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/stored_population.csv' at 0x7fe46009fb38>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/stored_household.csv' at 0x7fe46009f8e0>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/household_size_dynamic.csv' at 0x7fe464aed5c0>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/household_structure_dynamic.csv' at 0x7fe464aed818>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/yearly_summary.csv' at 0x7fe464aed4f8>",
 "<TarInfo '_run_output/couple_prob/couple_prob_0.0/nonburn_0.005_s152745_y2000/stored_sex_age_stats.csv' at 0x7fe464aed430>"]

In [30]:
df = txz.read_df_from_txz(fp, 'household_size_dynamic.csv')
df.head()

   ind  time  size_up  size_down  new_household  sub_total
0    0     1       81        173             43        297
1    1     2       76        182             61        319
2    2     3       82        188             62        332
3    3     4       75        197             63        335
4    4     5       69        177             52        298